<%- include('partials/_head'); %>
<body>

    <div id="container" class="relative lg:max-w-full grid grid-cols-1">
        <div class="row-span-1">
            <%- include('partials/header'); %>
            <main class="mt-24 w-full row-start-1 grid grid-cols-1">
                <section class="flex flex-col justify-center items-center md:justify-start gap-y-10 py-5 px-8 md:px-32 font-montserrat ">
                    <h3 class="text-3xl font-notoserif tracking-wider font-semibold ">Software Developing</h3>
                    <p class="opacity-80 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eos laudantium voluptatem impedit ratione est tempore, corporis in modi omnis laboriosam doloribus, dolorum accusamus consectetur officiis beatae, eius praesentium ad.
                    Saepe nobis, deserunt corporis eligendi laudantium dolores, suscipit sunt itaque molestias omnis minima, architecto repudiandae modi. Enim, dolores sunt! Tempore deleniti quod ipsam ipsa, et repellat architecto. Dolore, totam hic?</p>
                    <div class="flex flex-col justify-center items-center  w-full gap-y-10 md:flex-row md:gap-x-10">
                        <img src="./images/img-bimodel.jpeg" alt="" class="bg-cover bg-no-repeat bg-center lg:min-w-96 lg:min-h-96 h-64 w-64 shadow-lg rounded-2xl">
                        <img src="./images/img-bimodel2.jpeg" alt="" class="bg-cover bg-no-repeat bg-center lg:min-w-96 lg:min-h-96 h-64 w-64 shadow-lg rounded-2xl">
                        <img src="./images/img-bimodel3.jpeg" alt="" class="bg-cover bg-no-repeat bg-center lg:min-w-96 lg:min-h-96 h-64 w-64 shadow-lg rounded-2xl">
                    </div>
                </section>
                
                <article class="grid grid-cols-1">
                    <div class="bim-card bg-gray-100 ">
                        <div class="flex flex-col justify-center items-center font-montserrat w-5/6 md:w-3/4">
                            <h3 class="font-medium text-2xl md:text-4xl">Software Developing</h3>
                            <p class="font-light text-lg mt-5 opacity-60" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis obcaecati id maiores praesentium. Consequuntur ipsum, a illum alias, deserunt voluptate rem odio assumenda voluptates vero numquam, totam odit sint itaque?</p>
                        </div>
                        <div class="sm:min-w-80 sm:min-h-80 md:min-w-96 md:min-h-96 h-48 w-48 shadow-lg bg-slate-100 rounded-3xl"> <img src="./images/bim-object-1.png" alt="" class="h-full min-w-full rounded-3xl"></div>
                    </div>
                    <div class="bim-card  ">
                        <div class="flex flex-col justify-center items-center md:order-2 font-montserrat w-5/6 md:w-3/4">
                            <h3 class="font-medium text-2xl md:text-4xl">Software Developing</h3>
                            <p class="font-light text-lg mt-5 opacity-60" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis obcaecati id maiores praesentium. Consequuntur ipsum, a illum alias, deserunt voluptate rem odio assumenda voluptates vero numquam, totam odit sint itaque?</p>
                        </div>
                        <div class="sm:min-w-80 sm:min-h-80 md:min-w-96 md:min-h-96 h-48 w-48 shadow-lg bg-slate-100 rounded-3xl"> <img src="./images/bim-object-1.png" alt="" class="h-full min-w-full rounded-3xl"></div>
                    </div>
                    <div class="bim-card bg-gray-100 ">
                        <div class="flex flex-col justify-center items-center font-montserrat w-5/6 md:w-3/4">
                            <h3 class="font-medium text-2xl md:text-4xl">Software Developing</h3>
                            <p class="font-light text-lg mt-5 opacity-60" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis obcaecati id maiores praesentium. Consequuntur ipsum, a illum alias, deserunt voluptate rem odio assumenda voluptates vero numquam, totam odit sint itaque?</p>
                        </div>
                        <div class="sm:min-w-80 sm:min-h-80 md:min-w-96 md:min-h-96 h-48 w-48 shadow-lg bg-slate-100 rounded-3xl"> <img src="./images/bim-object-1.png" alt="" class="h-full min-w-full rounded-3xl"></div>
                    </div>
                    <div class="bim-card  ">
                        <div class="flex flex-col justify-center items-center md:order-2 font-montserrat w-5/6 md:w-3/4">
                            <h3 class="font-medium text-2xl md:text-4xl">Software Developing</h3>
                            <p class="font-light text-lg mt-5 opacity-60" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis obcaecati id maiores praesentium. Consequuntur ipsum, a illum alias, deserunt voluptate rem odio assumenda voluptates vero numquam, totam odit sint itaque?</p>
                        </div>
                        <div class="sm:min-w-80 sm:min-h-80 md:min-w-96 md:min-h-96 h-48 w-48 shadow-lg bg-slate-100 rounded-3xl"> <img src="./images/bim-object-1.png" alt="" class="h-full min-w-full rounded-3xl"></div>
                    </div>
                </article>
            </main> 
        </div>
        <%- include('partials/footer'); %>
    </div>   
</body>