<%- include('partials/_head'); %>
<body>
    <%- include('partials/header'); %>

    <section class="w-full h-screen about-bg flex justify-center items-center">
        <div class="h-1/2 w-1/2 bg-slate-500">
            <div class="w-full h-screen bg-red-300">


            </div>
        </div>
    </section>

</body>